@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
   /* Primary Colors */
   --lightred: 0, 100%, 67%;
   --orangeyyellow: 39, 100%, 56%;
   --greenteal: 166, 100%, 37%;
   --cobaltblue: 234, 85%, 45%;

   /* Gradients */
   --lightslateblue: hsl(252, 100%, 67%); /* background purple card */
   --lightroyalblue: hsl(241, 81%, 54%); /* background purple card */
   --violetblue: hsla(256, 72%, 46%, 1); /* circle */
   --persianblue: hsla(241, 72%, 46%, 0); /* circle */

   --lightgray: hsl(212, 45%, 89%);
   /* --grayishblue: hsl(220, 15%, 55%); */
   /* --darkblue: hsl(218, 44%, 22%); */
   
   /* Neutral Colors */
   --white: hsl(0, 0%, 100%);
   --paleblue: hsl(221, 100%, 96%);
   --lightlavender: hsl(241, 100%, 89%);
   --darkgrayblue: hsl(224, 30%, 27%);
}
   
body { 
   background: var(--white);
   font-family: "Hanken Grotesk", sans-serif;
   font-size: 18px;
   max-width: 100vw; 
   min-height: 100vh; 
   display: flex; 
   justify-content: center; 
   align-items: center;
}

main {
   background-color: white;
   border-radius: 30px;
   box-shadow: 0 30px 100px 2px hsla(var(--cobaltblue), 0.4);
}
.purplecard {
   background: linear-gradient(var(--lightslateblue) 2%, 40%, var(--lightroyalblue) 100%);
   width: 270px;
   height: 400px;
   /* display: inline-block; */
   position: absolute;
   border-radius: 30px;
   z-index: 4;
}

.whitecard {
   background-color: white;
   width: 390px;
   height: 400px;
   margin-left: 150px;
   position: relative;
   display: block;
   border-radius: 0 30px 30px 0 ;
}

.result {
   color: var(--lightlavender);
   font-weight: 700;
   margin-top: 25px;
   margin-left: 85px;

}
.circle {
   background: linear-gradient(var(--violetblue) 20%, 60%, var(--persianblue) 103%);
   width: 150px;
   height: 150px;
   margin-inline: auto;
   margin-top: 80px;
   position: relative;
   border-radius: 50%;
}

.mainresult {
   color: var(--white);
   font-size: 58;
   font-weight: 800;
   margin-top: 25px;
   margin-left: 45px;
}

.mainofresult {
   color: gray;
   font-size: 14px;
   font-weight: 500;
   margin-top: -10px;
   margin-left: 10px; 
}

.grade {
   color: var(--white);
   font-size: 24px;
   margin-top: 25px;
   margin-left: 105;
}

.message {
   color: var(--lightlavender);
   font-size: 14px;
   font-weight: 500;
   text-align: center;
   margin-top: 76px;
   margin-left: 35px;
   width: 200px;

}
.skills-icon {
   margin-left: 10px;
   margin-right: 10px;
}
.summary {
   margin-top: 25px;
   margin-left: 145px;
   font-weight: 700;
   color: var(--darkgrayblue);
}

.stats { 
   width: 220px;
   height: 45px;
   font-size: 14px;
   border-radius: 7px;
   margin-left: 145px;
   margin-top: 12px;
   display: inline-flex;
   align-items: center;
}

#reaction {
   margin-top: 70px;
   background: hsla(var(--lightred), 0.1);
   color: hsla(var(--lightred));
}

#memory {
   background: hsla(var(--orangeyyellow), 0.1);
   color: hsla(var(--orangeyyellow));
}

#verbal {
   background: hsla(var(--greenteal), 0.1);
   color: hsla(var(--greenteal));
}

#visual {
   background: hsla(var(--cobaltblue), 0.1);
   color: hsla(var(--cobaltblue));
}

p {
   color: black;
   position: absolute;
   width: 100%;
   /* margin: 185px; */
   margin-left: 155px;   
}

span {
   color: grey;
   margin-left: 5px;
}

button {
   background-color: var(--darkgrayblue);
   border: 0;
   color: var(--white);
   width: 220px;
   height: 40px;
   position: absolute;
   border-radius: 25px;
   margin-top: 89px;
   margin-left: -220px;
   z-index: 25;
}

button:hover {
   background: linear-gradient(var(--lightslateblue) 2%, 40%, var(--lightroyalblue) 100%);
   transition: 0.3s;
}
button:active {
   background-color: green;
   transition: 0.7s;
}

.attribution { 
   font-size: 11px; 
   text-align: center; 
   position: absolute;
   width: 100%;
   margin-top: 620px;;
   /* margin-left: -170px; */
}
.attribution a { 
   color: hsl(228, 45%, 44%); 
}


/*  MOBILE VIEW */
@media (max-width: 600px) {
   body { 
      font-size: 18px;
      max-width: 100vw;
      min-height: 100vh; 
      display: block; 
      margin: 0px;
   }
    main {
      margin-top: -25px;
      background-color: cyan;
      height: 100vh;
      width: 100vw;
      border-radius: 0px;
      box-shadow: 0 0 0 0; 
   }

   .purplecard {
      /* visibility: hidden; */
      width: 100vw;
      /* min-height: 40%; */
      position: relative;
      display: block;
      margin-top: 0px;
      margin-left: 0px;
      margin-right: 0px;
      border-radius: 0 0 30px 30px;
      z-index: 4;
   }

   .whitecard {
      background-color: white;
      width: 100vw;
      height: 100vh;
      margin-left: 0px;
      margin-top: -50px;
      position: relative;
      display: block;
      border-radius: 0px;
      align-self: center;
   }

   .result {
      color: var(--lightlavender);
      font-weight: 700;
      width: 100%;
      display: block;
      padding-top: 30px;
      margin-left: 0px;
      text-align: center;
   }

   .circle {
      background: linear-gradient(var(--violetblue) 20%, 60%, var(--persianblue) 103%);
      width: 180px;
      height: 180px;
      margin-top: 65px;
   }
   .mainresult {
      color: var(--white);
      font-size: 90;
      font-weight: 800;
      margin: 50%;
      padding-top: 15px;
      margin-left: -35px;
      margin-top: -25px;
   }
 
   .mainofresult {
      color: gray;
      font-size: 18px;
      font-weight: 500;
      margin-top: -15px;
      margin-left: -30px;
   }
   
   .grade {
      color: var(--white);
      font-size: 24px;
      margin-top: 15px;
      width: 100%;
      margin-left: 0;
      text-align: center;

  }
   
   .message {
      color: var(--lightlavender);
      position: relative;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      width: 60%;
      margin-top: -10px;
      /* max-width: 30ch; */
      margin-left: 22%;   
   }
   .skills-icon {
      margin-left: 14px;
      margin-right: 14px;
   }
   .summary {
      padding-top: 55px;
      margin-bottom: -40px;
      font-weight: 700;
      display: flex;
      margin-left: 60px;
      color: var(--darkgrayblue);
   }
   
   .stats { 
      width: 80%;
      max-block-size: 399;
      height: 65px;
      font-size: 17px;
      border-radius: 8px;
      margin-left: 10%;
      margin-top: 16px;
      display: flex;
      align-items: center;
   }
   
   p {
      color: black;
      position: relative;
      width: 100%;
      text-align: right;   
      margin-right: 20px;
   }
   
   span {
      color: grey;
      margin-left: 5px;
   }

   button {
      width: 80%;
      height: 58px;
      position: relative;
      border-radius: 50px;
      margin-top: 60px;
      margin-left: 55px;
      align-items: center;
      z-index: 25;
   }

   
   .attribution { 
      font-size: 11px; 
      text-align: center; 
      position: relative;
      width: 100%;
      margin-top: -50px;;
      margin-left: 0px;
   }
   .attribution a { 
      color: hsl(228, 45%, 44%);
   }
 }
 